@using Microsoft.AspNetCore.Authentication;
@{
    ViewData["Title"] = "Secure";
}
<h2>@ViewData["Title"]</h2>

@if (User.Identity.IsAuthenticated)
{
    <div><b>User Name:</b> @User.Claims.FirstOrDefault(x => x.Type == "name").Value</div>
    <a asp-controller="Home" asp-action="Logout">Выход</a>
}

<h3>User claims</h3>

<div style="padding:10px 0px 25px 0px">
    <div><a asp-action="CallApiUsingClientCredentials">Call API using application identity</a></div>
    <div><a asp-action="CallApiUsingUserAccessToken">Call API using user token</a></div>
</div>

<ul class="list-group">
    @foreach (var claim in User.Claims)
    {
        <li class="list-group-item">
            <label>@claim.Type</label>
            <code>@claim.Value</code>
        </li>

    }
    <li class="list-group-item">
        <label>access token</label>
        <code style="word-wrap:break-word;">@await ViewContext.HttpContext.GetTokenAsync("access_token")</code>
    </li>

    <li class="list-group-item">
        <label>refresh token</label>
        <code>@await ViewContext.HttpContext.GetTokenAsync("refresh_token")</code>
    </li>
</ul>
